<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>{{ title }}</title>
</head>


<body>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#mainpage" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#botinfo" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Bot info</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="nav-login" aria-selected="false">Login</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="mainpage" role="tabpanel" aria-labelledby="nav-home-tab">
            <section>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
                    <span id="specialbackground"></span>
            </section>
        </div>
        <div class="tab-pane fade" id="botinfo" role="tabpanel" aria-labelledby="nav-profile-tab">  
            <div class="row">
                <div class="col">
                    <div class="card" id="targetas">
                    <h5 class="card-header" id="targeta-head">ADMIN COMMANDS</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <span id="span-flecha">-></span> !clear
                            <br>
                            <span id="span-flecha">-></span> /ban
                            <br>
                            <span id="span-flecha">-></span> /unban
                            <br>
                            <span id="span-flecha">-></span> /warn
                            <br>
                            <span id="span-flecha">-></span> /mute
                            <br>
                            <span id="span-flecha">-></span> /createchannel
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="targetas">
                    <h5 class="card-header" id="targeta-head">USER COMMANDS</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <span id="span-flecha">-></span> /channelrequest
                            <br>
                            <span id="span-flecha">-></span> /dm
                            <br>
                            <span id="span-flecha">-></span> /report
                            <br>
                            <span id="span-flecha">-></span> /helpbot
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="targetas">
                    <h5 class="card-header" id="targeta-head">ENTERTAINMENT</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <span id="span-flecha">-></span> Jobs
                            <br>
                            <span id="span-flecha">-></span> Leveling System
                            <br>
                            <span id="span-flecha">-></span> Market
                            <br>
                            <span id="span-flecha">-></span> Votting
                            <br>
                            <span id="span-flecha">-></span> Raffle
                        </p>
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card" id="targetas">
                    <h5 class="card-header" id="targeta-head">JOBS</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <h5><span style="background-color: rgb(116, 9, 9); color: rgb(255, 123, 123)">ADMIN INFO</span></h5>
                            <p>
                                Interaction menus can only be placed on channels for users if you have <span style="color: rgb(255, 123, 123)">ADMINISTRATOR</span> permissions on that server.
                                <br>
                                <br>
                                Below are the different commands of each menu of this function:
                            </p>
                            <p>
                                WORKS
                                <br>
                                <span id="span-flecha">-></span> !fisher
                                <br>
                                <span id="span-flecha">-></span> !hunter
                                <br>
                                <span id="span-flecha">-></span> !miner
                                <br>
                                <span id="span-flecha">-></span> !woodcutter
                            </p>
                            <p>
                                SHOPS
                                <br>
                                <span id="span-flecha">-></span> !shopfisher
                                <br>
                                <span id="span-flecha">-></span> !shophunter
                                <br>
                                <span id="span-flecha">-></span> !shopminer
                                <br>
                                <span id="span-flecha">-></span> !shopwoodcutter
                            </p>
                            <p>
                                SHOW PROFILE
                                <br>
                                <span id="span-flecha">-></span> !profileglobal
                            </p>
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="targetas">
                    <h5 class="card-header" id="targeta-head">TICKETS</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <h5><span style="background-color: rgb(116, 9, 9); color: rgb(255, 123, 123)">ADMIN INFO</span></h5>
                            <p>
                                The ticket system is completely configurable. To configure this system, you must do it from the DashBoard of the Bot by accessing as <span style="color: rgb(255, 123, 123)">ADMINISTRATOR</span> of the server.
                                <br>
                                <br>
                                Below are the different sections that can be configured:
                            </p>
                            <p>
                                Ticket Creation Menu
                                <br>
                                <span id="span-flecha">-></span> Title
                                <br>
                                <span id="span-flecha">-></span> Description
                                <br>
                                <span id="span-flecha">-></span> Color
                                <br>
                                <span id="span-flecha">-></span> Button Label
                            </p>
                            <p>
                                Administrative Section
                                <br>
                                <span id="span-flecha">-></span> Ticket Category
                                <br>
                                <span id="span-flecha">-></span> Ticket Status Channel
                                <br>
                                <span id="span-flecha">-></span> Ticket Transcript Channel
                                <br>
                                <span id="span-flecha">-></span> Ticket Admin Role
                                <br>
                                <span id="span-flecha">-></span> Ticket Moderator Role
                            </p>
                            <p>
                                Ticket Message
                                <br>
                                <span id="span-flecha">-></span> Title
                                <br>
                                <span id="span-flecha">-></span> Description
                                <br>
                                <span id="span-flecha">-></span> Color
                            </p>
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="targetas">
                    <h5 class="card-header" id="targeta-head">GLOBAL SETTINGS</h5>
                    <div class="card-body">
                        <p class="card-text">
                            <h5><span style="background-color: rgb(116, 9, 9); color: rgb(255, 123, 123)">ADMIN INFO</span></h5>
                            <p>
                                From the Dashboard you can configure the following sections with <span style="color: rgb(255, 123, 123)">ADMINISTRATOR</span>  rank:
                            </p>
                            <p>
                                Basic Configuration
                                <br>
                                <span id="span-flecha">-></span> Prefix
                                <br>
                                <span id="span-flecha">-></span> Language
                                <br>
                                <span id="span-flecha">-></span> Welcome/Leave System
                                <br>
                                <span id="span-flecha">-></span> Auto-Moderation
                                <br>
                                <span id="span-flecha">-></span> Leveling System
                                <br>
                                <span id="span-flecha">-></span> Entertainment System
                                <br>
                                <span id="span-flecha">-></span> Voting & Raffles System
                                <br>
                                <span id="span-flecha">-></span> Server Status
                                <br>
                                <span id="span-flecha">-></span> Ticket Moderator Role
                            </p>
                            <p class="card-text"><small class="text-muted">More information when you log in.</small></p>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="center">
                <div class="card" style="width: 18rem; border-radius: 40px; border: 2px solid rgb(195, 134, 251);">
                    <img src="/img/JAFCIP.png" style="border-bottom: 2px solid rgb(195, 134, 251); border-radius: 40px 40px 0px 0px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">DashBoard Login</h5>
                        <p class="card-text" style="text-align: center;">
                            To log in with Discord press the button
                        </p>
                        <center>
                            <a href="/login"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#lvlsystem" style="background-color: rgb(85, 85, 85); color: white; background: linear-gradient(to right, rgb(24, 121, 45), rgb(24, 121, 121)); border: 2px solid rgb(36, 170, 170); border-radius: 20px;">LOGIN</button></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
