body {
    margin: 0;
    color:white;
    font-family: "Lato", sans-serif;
    background-color: black;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 275px;
    background-color: rgba(62, 62, 64, 0.541);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar #side {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.sidebar #side:hover:not(.active) {
    border-left: 3px solid goldenrod;
    background-color: rgb(169, 4, 169);
}

div.content {
    margin-left: 30%;
    margin-right: auto;
    padding: 1px 16px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(224, 181, 253);
}

#span-flecha{
    color: rgb(211, 163, 255);
}

.card-title{
    text-align: center;
    color: black;
}

.card-text{
    text-align: justify;
    color: black;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar #side {
        float: left;
    }

    .content {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .sidebar #side {
        text-align: center;
        float: none;
    }
}