body {
    margin: 0;
    color:white;
    font-family: "Lato", sans-serif;
    background-color: black;
}

a {
    color: rgb(168, 113, 183);
}

a:hover {
    color: rgb(224, 181, 253);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgba(43, 43, 46, 0.541);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar #side {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.sidebar #side:hover:not(.active) {
    border-left: 3px solid goldenrod;
    background-color: rgb(169, 4, 169);
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

.card-text{
    margin-left: 20px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(224, 181, 253);
}

#targetas{
    display: block;
    border-radius: 20px;
    height: 100%;
    border: 2px solid rgb(195, 134, 251);
    background-color: rgb(55, 55, 55);
}

.card-header{
    text-align: center;
    background-color: rgb(55, 55, 55);
    border-bottom: 2px solid rgb(195, 134, 251);
    border-radius: 20px 20px 0px 0px;
}

#flecha{
    color: rgb(211, 163, 255);
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar #side {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar #side {
        text-align: center;
        float: none;
    }
}