body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 275px;
    background-color: rgba(62, 62, 64, 0.541);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar #side {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.sidebar #side:hover:not(.active) {
    border-left: 3px solid goldenrod;
    background-color: rgb(169, 4, 169);
}

div.content {
    margin-left: 400px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar #side {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar #side {
        text-align: center;
        float: none;
    }
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(224, 181, 253);
}

#targeta{
    border-radius: 20px;
    width: auto;
    height: 100%;
    border: 2px solid rgb(195, 134, 251);
    background-color: rgb(213, 211, 211);
}

#targeta-head{
    text-align: center;
    background-color: rgb(148, 147, 147);
    border-bottom: 2px solid rgb(195, 134, 251);
    border-radius: 20px 20px 0px 0px;
}

#span-flecha{
    color: rgb(211, 163, 255);
}

#targetaPremium{
    border-radius: 20px;
    height: 100%;
    width: 90%;
    margin-left: 1%;
    margin-top: 1%;
    border: 1px solid rgb(253, 255, 141);
}

#targetaPremium-head{
    text-align: center;
    border-bottom: 1px solid rgb(253, 255, 141);
    border-radius: 20px 20px 0px 0px;
}

.contacticon {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 3%;
}